@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
}
.header{
  background-color: gray;
  backdrop-filter: blur(50%);
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  opacity: 0.7;
  /* opacity: 0.4; */
}
.header__wrapper{
  padding: 30px 100px;
  display: flex;
justify-content: space-between;
align-items: center;
}
.header__logo{
  width: 60px;
  height: 60px;
}
.header__logo img{
width: 100%;
height: 100%;
}
.header__user{
  width: 60px;
  height: 60px;
}
.header__user img{
  width: 100%;
height: 100%;
}

.header__login button{
  background:  #263959;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 9px;
  color: white;
  margin-left: 15px;

}
.header__links{
  font-size: 25px;
}
.header__link1{
margin-right: 15px;
 
}
.header__link2{
  margin-right: 800px;
}
.header__isAuth{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner{
 padding: 250px 0;
  background-color: rgb(161, 156, 156);
  background-image: url('https://static.tildacdn.com/lib/unsplash/0d065ea7-7846-4bb9-e7b9-28242c46d56d/photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.noAuthBanner{
  position: relative;
}

/* .noAuthBanner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.banner__desc{
  position: absolute;
  top :400px;
  left: 40px;
  color: white;
  font-size: 50px;
}

.login {
  background-image: url(https://images.unsplash.com/photo-1696921881903-e87e5662d9b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
 background-size:cover;
 background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.login__wrapper {
  position: relative;
  padding: 50px 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(45%, 500px);
  background: #263959;
}

.login__wrapper::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background:black;
  left: 8px;
  top: 8px;
  z-index: -99;
}

.login__wrapper::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background:  #263959;
  left: 4px;
  top: 4px;
  z-index: -99;
}

.login__title {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color:white;
}

/* .login__title::after {
  position: absolute;
  content: 'Авторизация';
  width: 100%;
  left: 4px;
  top: 4px;
  font-size: 1em;
  font-weight: 700;
  color: red;
  z-index: -1;
} */

/* .login__title::before {
  position: absolute;
  content: 'Авторизация';
  width: 100%;
  left: -4px;
  top: -4px;
  font-size: 1em;
  font-weight: 700;
  color: blue;
  z-index: -1;
} */

.login__form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.login__inp {
  padding: .8em;
  margin-bottom: 2rem;
}

.login__btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: .8em;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffff;
  cursor: pointer;
  background:  #263959;
}



/* ///// */
.main{
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?auto=format&fit=crop&q=80&w=2920&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
opacity: 0.9;
  padding: 200px 0 170px;
}
.main__wrapper{
   text-align: center;
}
.main__img{
   width: 300px;
   height: 300px;
   margin: 0 auto;
}
.main__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main__title{
   font-size: 50px;
   margin-bottom: 15px;
   color:rgb(50, 121, 213);
}
.main__desc{
   font-size: 30px;
   color: white;
}
.card{
   padding: 50px 0;
   background-color: rgb(220, 229, 243);
}
.card__wrapper{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.card__card{
 /* border: 1px solid black; */
 padding: 5px ;
 /* border-radius: 10px; */
   width: 30%;
   margin-bottom: 15px;
   /* background: linear-gradient(45deg, rgb(53, 89, 227), rgb(6, 77, 79)); } */
}

.card__img{

   height: 300px;
  
}
.card__img img{
   border-radius: 10px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.card__title{
   font-size: 28px;

}
.card__desc{
   margin:10px 0;
}
.card__btn{
   border: 1px solid inherit;
   border-radius: 10px;
   padding: 10px 20px;
   font-size: 16px;
   color: white;
   background-color: #263959;
}
.review{
   padding: 100px;
   background:black;
}
.review__title{
   text-align: center;
   font-size: 40px;
   margin-bottom: 50px;
}
.review__wrapper{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.review__card{
   border-radius: 16px;
   border: 1px solid white;
   
   background: rgba(255, 255, 255, 0.05);
   
   backdrop-filter: blur(8.5px);
   width: 45%;
   padding: 15px 20px;
   margin-bottom: 20px;
}
.review__symbol{
   font-size: 60px;
   text-align: center;
   color: white;
}
.review__text{
   font-size: 20px;
   margin-bottom: 15px;
   color: white;
}
.review__user{
   font-size: 20px;
   margin-bottom: 20px;
   color: white;
}
.review__group{
   font-size: 18px;
   color: white;
}
/* //// */

.card__wrapper{
  display: flex;
  justify-content: space-between;
}

/* courses */
.courses{
  padding: 200px 0;
  background-color: rgb(220, 229, 243);
}
.courses__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.courses__card{
  width: 30%;
}
.courses__title{
font-size: 24px;
margin-bottom: 50px;
text-align: center;

}
.courses__img{
  height: 300px;
  width: 300px;
}
.courses__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses__rating{
  margin: 10px;
}
.courses__btn{
background: #263959;
color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid white;
}
.courses__btn:hover{
  background: white;
  color: #263959;
}


.reviews__text{
  font-size: 50px;
  color: red;
}

/* comments */
.comments{
  padding: 200px;
  background-color: rgb(220, 229, 243);
}
.comments__wrapper{
  margin-top: 15px;
}
.comments__title{
  font-size: 30px;
  margin-bottom: 15px;
}
.comments__img{
  width: 400px;
  height: 400px;
  margin-bottom: 15px;
}
.comments__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comments__card{
  border: 1px solid black;
padding: 15px 10px;
display: flex;
align-items: center;
}
.comments__card:not(:last-child){
  margin-bottom:15px ;
}
.comments__box{
  display: flex;
  justify-content: space-between;
}
.comments__delete{
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
.comments__delete img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* /// */
.addition{
  padding-top: 50px;
  background-color: rgb(220, 229, 243);
  width: 50%;
}
.addition__wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  border-radius: 50px;
  background-color: #263959;;
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
}
.addition__form{
  margin: 10px 0;
}
.addition__select{
  width: 50%;
  margin: 0 auto;
}
.addition__title{
  margin-bottom:10px ;
  color: white;
  font-size: 20px;
}
.addition__btn{
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}
.addition__btn:hover{
  background-color:white;
  color:#263959;
}
/* /// */
.user{
  padding: 200px 0;
}
.user__img{
  width: 300px;
  height: 300px;
}
.user__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user__name{
font-size: 20px;
margin-bottom: 15px;
}